# Universal for Mythic
MYTHIC_LOGIN_USERNAME=""
MYTHIC_LOGIN_PASSWORD=""
MYTHIC_LOGIN_SERVER_HOST=""
MYTHIC_LOGIN_SERVER_PORT=""

# For HTTP C2 Profile - https://github.com/MythicC2Profiles/http
MYTHIC_HTTP_CALLBACK_URL=""
MYTHIC_HTTP_CALLBACK_PORT="80" # Default
MYTHIC_HTTP_CALLBACK_KILLDATE="1970-12-31" # YYYY-MM-DD

